
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.imagem_logo{
    max-width: 90%;
    height: auto;
    max-height: 60px;
}

.background-container {
    position: relative; /* Necessário para posicionar o pseudo-elemento */
    width: 100%;
    height: 520px; /* Altura desejada */
    overflow: hidden; /* Evita que a imagem vaze do contêiner */
  }
  
  .background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/mapa.jpg");
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: -1;
  }
  
  .titulo{
    position: relative; 
    z-index: 1; 
    color: white; 
    padding: 12%;
    display: flex;
    flex-direction: column;
    align-items: center; 
 }

  .barra-contato-dados {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 14px;
    color: aliceblue;
}

.barra-contato-icones {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    color: aliceblue;  
}

#botao {
    border-radius:none;
    height: 30px;
    width:8em;
    background-color: lawngreen;
    transform: translateY(-20%);
    top: 50%;
    border: none;
}

.texto {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    margin-top: 8%;
}

.container-pesquisar {
    position: relative;
    max-width: 800px;
    margin: 6px auto;
    width: 100%;
}

.barra-pesquisa {
    width: 100%;
    padding: 10px;
    border-radius: 50rem;
    border: none;
    outline: none;
    height: 57px;
}

.pesquisar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px 30px;
    right: 10px;
    
    background-color: blue;
    box-sizing: border-box;
    border-radius: 25px;
    text-align: center;
    color:white;
    border: none;
    transition: .5s;
    font-size: 16px;
    cursor: pointer;
    justify-content: space-between;
}

.card{
    margin: 0;
    padding: 0;
    jus
}
.rodape{
    background-color: #343a40;
    color: white;
    text-align: center;
    height: 60px;
    padding: 20px;
}
/* Estilização do about */
.apresentacao{
    background-image: url(img/mapa.jpg);
    z-index: 0.5;
    background-size: cover;
    color: #001A6E;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 5%;
    gap: 82px; 
    
    
}
.apresentacao-conteudo{
    width: 100%;
    display: flex;
    flex-direction:column; 
    gap: 10px;
}
.apresentacao-conteudo-titulo{
    font-size: 1.25rem;
    font-family:var(--font-primaria);
}
.apresentacao-conteudo-texto{
    font-size: 15px;
    font-family: var(--font-secundaria);
    text-align: justify;
}
.apresentacao-imagem{
    width: 100%;
}
.apresentacao-imagem1{
    width: 10%;
}
#apres{
    background-color: white;
    border-radius: 30px;
    margin: auto;
    padding: 20px;
}
#apres2{
    background-color: #5271ff;
    color: white;
    border-radius: 30px;
    margin: auto;
    padding: 20px;
    justify-content: space-between;
}
#apres3{
    background-color: white;
    border-radius: 30px;
    margin: auto;
    padding: 20px;
    height: 200px;
    font-style: italic;

}

.texto_consultoria1{
    color: beige;
 }

 .imagem_consultoria{
    width: 550px;
    height: 100%;

@media(max-width:1200px)
    .cabecalho {
        padding: 10% ;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao-conteudo{
        width: auto;
    }
    
   

  