/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  background-image: url(img/mapa.jpg);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}
.container {
  max-width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #344CB7;
}

form {
  margin-top: 15px;
}

form h2 {
  margin-bottom: 10px;
  color: #555;
}

label {
  display: block;
  margin: 10px 0 5px;
  text-align: left;
  color: #666;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

input:focus {
  border-color: #5271ff;
  outline: none;
  box-shadow: 0 0 3px rgba(123, 110, 246, 0.4);
}

button {
  width: 100%;
  padding: 10px;
  background-color: #5271ff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #001A6E;
}

.divider {
  margin: 15px 0;
  text-align: center;
  color: #aaa;
}

#rodape {
  background-color: #343a40;
  color: white;
  text-align: center;
  height: 60px;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%; 
}
