* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
    
}
 
body {
    background-image: url('/Mobilipass/img/imagem-fundo.jpg');
    background-position: center, ;
    background-repeat: no-repeat;
    background-size: cover, 200%;
    
}
 
 
.barra-contato {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: blanchedalmond;
    padding: 8px; 
    font-size: 18px;
    
    
}

#logo{
    height: 2%;
    width: 8%;
}

.barra-contato-dados{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 18px;
    color: aliceblue;
    
   
}
.barra-contato-icones{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    color: aliceblue;
    
}

.barra-contato-icones:hover{
    background-color: aqua;
}

.atalhos nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20%;
    color: aliceblue;
    

}

.atalhos-icones{
    display: flex;
    gap: 20px;
    font-size: 25px;
    font-weight: 600;
    color: aliceblue;   
}

#botao{
    border-radius:45em;
    height: 30px;
    width:8em;
    background-color: lawngreen;
}
