@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(/img/mapa.jpg);
}

.imagem_logo {
    max-width: 90%;
    height: auto;
    max-height: 60px;
}

form.form-conteudo {
    width: 500px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

form.form-conteudo h4 {
    text-align: center;
    margin-bottom: 20px;
}

form.form-conteudo .form-group {
    margin-bottom: 20px;
}

.mt-custom {
    margin-top: 1px;
}

.mt-custom h4 {
    text-align: center;
}

/* Responsividade do formulário */
@media (max-width: 768px) {
    form.form-conteudo {
        width: 90%; /* Ocupa 90% da largura em telas menores */
        padding: 20px; /* Ajusta o padding */
    }
}

@media (max-width: 576px) {
    form.form-conteudo {
        width: 95%; /* Ocupa 95% da largura em telas menores */
        padding: 15px; /* Ajusta o padding */
    }
}


@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao-conteudo {
        width: auto;
    }
}

.rodape {
    background-color: #343a40;
    color: white;
    text-align: center;
    height: 60px;
    padding: 20px;
}

.rodape {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    height: auto;
}

.rodape .container {
    max-width: 1200px;
    margin: 0 auto;
}

.rodape .col-12 { /* Estilo para a coluna que contém o copyright e os ícones */
    display: flex; /* Ativa o Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha, se necessário */
}

.rodape .copyright {
    margin: 0 10px; /* Espaço entre o copyright e os ícones */
}

.rodape .social-icons {
    display: flex;
    justify-content: center;
    margin: 0 10px; /* Espaço entre os ícones e o copyright */
}

.rodape .social-icons a {
    color: white;
    font-size: 20px;
    margin: 0 5px; /* Espaço entre os ícones */
    transition: color 0.3s;
}

.rodape .social-icons a:hover {
    color: #007bff;
}

.rodape .social-icons i {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .rodape .social-icons a {
        font-size: 18px;
        margin: 0 5px;
    }
}